---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Disorders from '../components/Disorders.astro';
import Treatments from '../components/Treatments.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import { Image } from 'astro:assets';
import logoGrande from '../assets/images/logo_grande.jpeg';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1 class="text-justify">Psiique & Soma</h1>
			<Image src={logoGrande} alt="Psiique & Soma" />
			<Treatments />
		</main>
		<Footer />
	</body>
</html>
