---

import {disorders} from '../config/disorders.json';

---


<p class="section-title reveal">
    Atención terapéutica en los siguientes trastornos psicológicos:
</p>

<ul class="disorders-list reveal">
    {
        disorders.map(disorder => (
            <li>{disorder.name}</li>
        ))
    }
</ul>
