---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Psichology el Tocayo. All rights reserved.
	<div class="social-links">
		<a href="https://www.un.org/es/" target="_blank">
			<span class="sr-only">Goes to Facebook account</span>
			<svg viewBox="0 0 16 16" width="32" height="32" fill="currentColor" aria-hidden="true">
				<path d="M8 0C3.58 0 0 3.58 0 8c0 3.98 2.93 7.27 6.75 7.88v-5.58h-2.03v-2.3h2.03v-1.75c0-2.01 1.23-3.11 3.02-3.11.86 0 1.6.06 1.82.09v2.11h-1.25c-.98 0-1.17.47-1.17 1.15v1.51h2.33l-.3 2.3h-2.03v5.58C13.07 15.27 16 11.98 16 8c0-4.42-3.58-8-8-8z"></path>
			</svg>
		</a>
		<a href="https://www.instagram.com/pantene/" target="_blank"> 
			<span class="sr-only">Goes to Instagram account</span>
			<svg viewBox="0 0 24 24" width="32" height="32" fill="currentColor" aria-hidden="true">
				<path d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zM12 0C8.741 0 8.333.014 7.053.072 2.695.272.273 2.69.073 7.052.014 8.333 0 8.741 0 12c0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98C8.333 23.986 8.741 24 12 24c3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98C15.668.014 15.259 0 12 0zm0 5.838a6.162 6.162 0 1 0 0 12.324 6.162 6.162 0 0 0 0-12.324zM12 16a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm6.406-11.845a1.44 1.44 0 1 0 0 2.881 1.44 1.44 0 0 0 0-2.881z"></path>
			</svg>
		</a>
		<a href="https://x.com/7ElevenMexico" target="_blank"> 
			<span class="sr-only">Goes to X account</span>
			<svg viewBox="0 0 24 24" width="32" height="32" fill="currentColor" aria-hidden="true">
				<path d="M18.901 1.153h3.68l-8.04 9.19L24 22.846h-7.406l-5.8-7.584-6.638 7.584H.474l8.6-9.83L0 1.154h7.594l5.243 6.932ZM17.61 20.644h2.039L6.486 3.24H4.298Z"></path>
			</svg>
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
